name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    if: "!endsWith(github.event.head_commit.message, '[skip-ci]')"
    runs-on: ubuntu-latest
    name: "Bump version, create changelog with commitizen and create release"
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Create bump and changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          changelog_increment_filename: body.md
          branch: main
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: "6.x.x"
      - name: Build and Pack
        run: dotnet pack .\DSharpPlus.ModalCommands\DSharpPlus.ModalCommands.csproj -o .
      - name: Push to nuget
        shell: bash
        env:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}
        run: dotnet nuget push "*.nupkg" -k $NUGET_KEY -s https://api.nuget.org/v3/index.json
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          body_path: "body.md"
          tag_name: v${{ env.REVISION }}
          files: |
            "*.nupkg"
            "*.snupkg"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}